/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url("../fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  font-family: LatoWeb;
}

@media screen and (orientation: portrait) {
  html {
    font-size: 40px;
  }
}

body {
  display: flex;
  margin: auto;
  width: 700px;
  border: 1px dotted silver;
  margin-top: 10px;
  margin-bottom: 50px;
}

@media screen and (orientation: portrait) {
  body {
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 0px;
  }
}

aside {
  background-color: #F9A825;
  width: 250px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  overflow: hidden;
}

@media screen and (orientation: portrait) {
  aside {
    margin-top: 80px;
    width: 100%;
  }
}

aside img {
  overflow: hidden;
  border-radius: 70px;
  width: 120px;
  height: 120px;
  margin-top: 6px;
}

@media screen and (orientation: portrait) {
  aside img {
    border-radius: 200px;
    width: 300px;
    height: 300px;
  }
}

aside h1 {
  background-color: black;
  color: #F9A825;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
}

aside article {
  min-width: 100%;
}

aside article p {
  margin: 20px;
  font-size: 0.8rem;
}

@media screen and (orientation: portrait) {
  aside article p {
    margin-left: 50px;
    margin-right: 50px;
  }
}

aside .MaxHeight {
  flex-grow: 5;
}

aside footer {
  min-width: 100%;
  padding-bottom: 20px;
}

@media screen and (orientation: portrait) {
  aside footer {
    margin-bottom: 40px;
  }
}

aside footer div {
  display: flex;
  justify-content: center;
}

aside footer div img {
  overflow: hidden;
  border-radius: 10px;
  width: 34px;
  height: 34px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

@media screen and (orientation: portrait) {
  aside footer div img {
    width: 100px;
    height: 100px;
  }
}

section {
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  width: 450px;
}

@media screen and (orientation: portrait) {
  section {
    width: 95%;
    margin-top: 250px;
  }
}

@media screen and (orientation: portrait) {
  section header {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
  }
}

section header h1 {
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 50px;
  text-transform: uppercase;
}

section header h1 span {
  color: #F9A825;
  font-weight: bold;
}

section header h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 50px;
}

section header h2 span {
  text-decoration: underline;
  text-decoration-color: #F9A825;
}

section article h1 {
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 1px solid #F9A825;
}

section article h1 img {
  width: 20px;
}

@media screen and (orientation: portrait) {
  section article h1 img {
    width: 40px;
  }
}

section article h1 span {
  margin-left: 10px;
}

section article .ItemArticle {
  display: flex;
  align-items: flex-start;
}

section article .ItemArticle .Left {
  width: 20%;
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
}

section article .ItemArticle .Left img {
  width: 10px;
  margin-top: 0px;
}

@media screen and (orientation: portrait) {
  section article .ItemArticle .Left img {
    width: 20px;
    margin-top: 4px;
  }
}

section article .ItemArticle .Left div {
  height: 20px;
  margin-left: 10px;
  font-size: 0.6rem;
}

section article .ItemArticle .Right {
  width: 80%;
}

section article .ItemArticle .Right h2 {
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}

section article .ItemArticle .Right p {
  font-size: 0.8rem;
}

section article .ItemRecommandation {
  display: flex;
  justify-content: space-around;
}

section article .ItemRecommandation h2 {
  font-size: 0.7rem;
  border: unset;
  margin-top: 1px;
  margin-bottom: 1px;
  text-transform: uppercase;
}

section article .ItemRecommandation p {
  margin-top: 0;
  font-size: 0.7rem;
}
/*# sourceMappingURL=index.css.map */